@import './node_modules/bulma/bulma.sass';
.margin {
    margin:1%;
}
.box-gd {
    background-image: linear-gradient(to right top, #ffffff, #b9c7d5, #6497a2, #15675b, #003608);
    
}
html {
    height: 100%;
}